.modal.fade#viewEmployeeModal(tabindex="-1")

    .modal-dialog

        .modal-content

            .modal-header

                h5.modal-title Employee Details

                button.btn-close(
                    data-bs-dismiss="modal"
                )

            .modal-body

                table.table.table-bordered

                    tbody

                        tr
                            th Employee Code
                            td#viewCode

                        tr 

                            th Employee Id 
                            td#viewid    

                        tr
                            th Name
                            td#viewName

                        tr
                            th Email
                            td#viewEmail

                        tr
                            th Mobile
                            td#viewMobile

                        tr
                            th Department
                            td#viewDepartment

                        tr
                            th Designation
                            td#viewDesignation

                        tr
                            th Joining Date
                            td#viewJoiningDate

                        tr
                            th Status
                            td#viewStatus