extends ../layout

block content

    .d-flex.justify-content-between.align-items-center.mb-4
        h2.mb-0 Issue Asset

        button.btn.btn-primary(
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#issueModal"
        )
            i.bi.bi-plus-circle.me-2
            | Issue Asset

    include _table

    include _add_modal

    include _view_modal

    script(src="/js/issue.js")