extends ../layout

block content

    .d-flex.justify-content-between.align-items-center.mb-4
        h2.mb-0 Scrap Asset

        button.btn.btn-danger(
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#scrapModal"
        )
            i.bi.bi-trash.me-2
            | Scrap Asset

    include _table

    include _scrapmodal

    script(src="/js/scrap.js")