extends ../layout

block content

    .d-flex.justify-content-between.align-items-center.mb-4
        h2.mb-0 Return Asset

    include _table

    include _returnmodal

    script(src="/js/return.js")